@*<ul class="list-group">
        <li class="list-group-item active">SẢN PHẨM</li>

    @foreach (var item in ViewBag.QA)
    {


        <a href="~/Sanpham/LoaiQA/?id=@item.MaQA" class="list-group-item">@item.TenQA </a>

    }

    </ul>*@

<div class="dropdown">



    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:250px;">
       LOẠI SẢN PHẨM

    </button>
    <ul class="dropdown-menu" style="height:300px;">
        @foreach (var quanao in ViewBag.QA)
        {
            <a href="~/HOME/LoaiQA/?id=@quanao.MaLoai" class="list-group-item" style="width:250px; height:50px; text-align:center; font-size:14px; border:hidden;">
                @quanao.TenLoai
            </a>
        }

    </ul>
    <hr />
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:250px;">
        GIÁ TỐT

    </button>
    <hr />

    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width:250px;">
        BST THU ĐÔNG

    </button>
    <hr />
    <aside class="single_sidebar_widget popular_post_widget">
        <h3 class="widget_title" style="color: #2d2d2d;">Recent Post</h3>
        <div class="media post_item">
            <img src="~/assets/img/post/post_1.png" alt="post">
            <div class="media-body">
                <a href="blog_details.html">
                    <h3 style="color: #2d2d2d;">From life was you fish...</h3>
                </a>
                <p>January 12, 2019</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="~/assets/img/post/post_2.png" alt="post">
            <div class="media-body">
                <a href="blog_details.html">
                    <h3 style="color: #2d2d2d;">The Amazing Hubble</h3>
                </a>
                <p>02 Hours ago</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="~/assets/img/post/post_3.png" alt="post">
            <div class="media-body">
                <a href="blog_details.html">
                    <h3 style="color: #2d2d2d;">Astronomy Or Astrology</h3>
                </a>
                <p>03 Hours ago</p>
            </div>
        </div>
        <div class="media post_item">
            <img src="~/assets/img/post/post_4.png" alt="post">
            <div class="media-body">
                <a href="blog_details.html">
                    <h3 style="color: #2d2d2d;">Asteroids telescope</h3>
                </a>
                <p>01 Hours ago</p>
            </div>
        </div>
    </aside>
    <hr />
    <aside class="single_sidebar_widget newsletter_widget">
        <h4 class="widget_title" style="color: #2d2d2d;">Newsletter</h4>
        <form action="#">
            <div class="form-group">
                <input type="email" class="form-control" onfocus="this.placeholder = ''"
                       onblur="this.placeholder = 'Enter email'" placeholder='Enter email' required>
            </div>
            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                    type="submit">
                Subscribe
            </button>
        </form>
    </aside>




</div>


