
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Đăng ký</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="~/assets/fontsDK/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="~/assets/cssDK/style.css">
</head>
<body style="padding:50px;">

    <div class="main" style="">
        @RenderBody();


    </div>

    <!-- JS -->
    <script src="~/assets/vendorDK/jquery/jquery.min.js"></script>
    <script src="~/assets/jsDK/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>